.App-header {
  background-image: url("/src/images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Центрируем изображение */
  height: 100%; /* Можете изменить высоту контейнера по своему усмотрению */
  width: 100%; /* Занимает всю доступную ширину */
}